body {
  font-family: 'Arimo', sans-serif;
  box-sizing: border-box;
}

h2 {
  font-weight: 900;
}

hr {
  border: 1px dotted lightgrey;
}

.availability {
  text-align: left;
  padding: 5px;
  background-color: grey;
  color: yellow;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin: 5%;
} 
  
.card {
  text-align: center;
  border: 1px solid lightblue;
}

